* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.main {
	width: 80%;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #eee;
	border-radius: 13px;
}

.done {
	font-size: 80px;
	background-color: transparent;
	border: none;
	color: green;
	margin-top: 60px;
}

h1 {
	font-family: sans-serif;
	font-size: 24px;
	line-height: 1.5;
	width: 90%;
}