* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

.close {
  background-color: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main {
  width: 100%;
  margin-top: 180px;
}

.add-image {
  font-size: 80px;
  color: #ff914d;
  background-color: transparent;
  border: none;
  margin-left: 20px;
}

input {
  border: none;
  font-size: 16px;
  outline: 0;
  display: inline-block;
  position: absolute;
  padding-top: 40px;
  padding-left: 20px;
}

h1 {
  margin-top: 40px;
}

.create {
  outline: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 8px;
  background-color: #ff914d;
  font-weight: bold;
  color: #fff;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
  margin-left: 20px;
}

button {
  outline:0;
}

#file {
  display: none;
}
