* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.top-bar {
  width: 100%;
}

.back {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

.group-name {
  background-color: transparent;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: 0;
}

select option {
  background-color: #fff;
}

.post {
  background-color: transparent;
  border: none;
  color: #727272;
  font-size: 16px;
  position: absolute;
  top: 24px;
  right: 20px;
  font-weight: bold;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: fill;
  margin-top: 60px;
  margin-left: 20px;
  display: inline;
}

.user-name {
  font-size: 16px;
  font-family: sans-serif;
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  margin-top: 80px;
}

.tag-name {
  font-size: 13px;
  font-family: sans-serif;
  display: inline-block;
  position: absolute;
  color: #727272;
  margin-left: 20px;
  margin-top: 110px;
}

.add-img {
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

.add-tag {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}

.add-post {
  border: none;
  font-size: 20px;
  position: absolute;
  right: 20px;
  padding-top: 10px;
  background-color: transparent;
  color: green;
  font-weight: bold;
  margin-left: 40px;
}

.add-img-img {
  width: 30px;
  height: 30px;
}

.add-tag-img {
  width: 30px;
  height: 30px;
}

.post-img {
  max-width: 90%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

textarea {
  width: 90%;
  margin-left: 28px;
  margin-top: 40px;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  font-family: sans-serif;
  height: 140px;
}

input {
  display: none;
}

button {
  outline: 0;
}
